
body{
position:always;
  margin: 0px;
  background-image: url("2.jpg");
    background-repeat: no-repeat;
   background-size: cover;
  font-family:'Open Sans', sans-serif;

}
.blur img:hover {
  -webkit-filter: blur(2px);
}
.blur img {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
h1 {
  font-family: Lobster;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;

    text-shadow: 2px 4px 5px red;
}
.abrar
{
border: 0px solid;
    border-radius: 350px;
}
a{text-decoration:none;

  color:orange;
   font-style: oblique;
  font: italic;
  font-size:30px;


}
table, th, td {
  color:white;
    border: 2px solid black;
   border-radius: 12px;
   border-bottom-color:white;
   padding:10px;

}
.a
{
  border: 0px solid;
    border-radius: 350px;

}
h5
{
  color:white;
      text-shadow: 2px 4px 5px red;
}
.container {
    position: relative;
    width: 50%;
}


.image {
  display: block;
  width: 20px;
  height: 20px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 25%;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 47%;
  border: 0px solid;
    border-radius: 350px
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: 0px solid;
    border-radius: 350px;

    text-shadow: 2px 4px 5px red;
}
.you
{
  margin-top:-580px;
  padding-left:70%;
}
