body {
padding: 0 auto;
  margin: 0 auto;
  background-color: #804000;


}
.sidebare
{
width: 120px;
height: 100%;
background: #2F4F4F;
position: fixed;
}
.icon
{
padding: 30px;
 font: italic bold 10px/35px Georgia, serif;
}

.myimage
{
  border-radius: 50%;
  border-style: dotted;
  align-content: center

 }
.cont
{padding: 100px;
  width:500px;

background-color: #663300;
 margin: 0 auto;
 text-align: center;
}
.bodyy
{
text-align: center;
}
.title
{ border: 2px solid;
    border-radius: 25px;
  width:500px;
 background-color: black;
  font-style: oblique;
  font: italic bold 40px/40px Georgia, serif;
}
.myname
{
  border: 2px solid;
    border-radius: 25px;
}

h3
{
  color: #ff8000;
}
h2
{
  color: #ff8000;
}
.pizza
{
  padding: 5px;

  border: 2px solid;
    border-radius: 25px;
}
.pizzad
{
  padding: 5px;
  margin-top: -110px;
}
.iraq
{
  padding: 5px;

  border: 2px solid;
    border-radius: 25px;
}
.iraqi
{
  padding: 5px;
  margin-top: -150px;
}

.por
{
  padding: 5px;

  border: 2px solid;
    border-radius: 25px;
}
.port
{
  padding: 5px;
  margin-top: -60px;
}

.tor
{
  padding: 5px;

  border: 2px solid;
    border-radius: 25px;
}
.torc
{
  padding: 5px;
  margin-top: -80px;
}

.so
{
  padding: 5px;

  border: 2px solid;
    border-radius: 25px;
}
.sos
{
  padding: 5px;
  margin-top: -100px;
}


.t
{
  padding: 5px;

  border: 2px solid;
    border-radius: 25px;
}
.ti
{
  padding: 5px;
}

.tw
{
  padding: 5px;

  border: 2px solid;
    border-radius: 25px;
}
.twa
{
  padding: 5px;
}

.ko
{
  padding: 5px;

  border: 2px solid;
    border-radius: 25px;
}
.kon
{
  padding: 5px;
  margin-top: 50px;
}


.x
{
  padding: 5px;

  border: 2px solid;
    border-radius: 25px;
}
.xm
{
  padding: 5px;

}
.mi
{
  padding: 5px;

  border: 2px solid;
    border-radius: 25px;
}
.mis
{
  padding: 5px;
margin-top: -50px;
}

